* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    scroll-behavior: smooth;
    transition: all 0.3s ease-out;
}

/* Navbar specific styles in dark mode */


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo1 {
    z-index: 1000;
    /* Higher z-index to bring the logo above other elements */
    position: relative;
    /* Adjust positioning if necessary */
    display: block;
    /* Ensure it's not accidentally hidden */
    visibility: visible;
    /* Ensure visibility is set */
}


.btn button {
    border: none;
    border-radius: 8px;
    font-weight: 900;
}/* The switch - the box around the slider */


.togglebtn {
    position: relative;
    display: inline-block;
    left: 5%;
    width: 50px;
    height: 25px;
    margin-bottom: 10px;
}

/* Hide default HTML checkbox */
.togglebtn input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 0%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Move the slider when checked */
.togglebtn input:checked+.slider {
    background-color: black;
}

.togglebtn input:checked+.slider:before {
    transform: translateX(30px);
    /* Moves the slider knob to the right */
}

label svg {
    position: absolute;
    width: 30px;
    z-index: 100;
}

label svg.sun {
    left: -35px;
    fill: #fff;
    transition: 0.2s;
}

label svg.moon {
    left: 55px;
    fill: #fff;
    transition: 0.2s;
}

button {
    padding: 10px 60px;
    background-color: #8d0003;
    color: whitesmoke;
    margin-top: 22px;
    cursor: pointer;
    border: 1px solid rgb(224, 216, 216);
}

button:hover {
    background-color: whitesmoke;
    color: #8d0003;
    font-weight: bold;
    border: 1px solid #8d0003;
    box-shadow: 8px 10px 10px 0 rgba(0, 0, 0, 0.24);
}

.frontpage {
    position: relative;
    background: url(../img/hotel.jpg) no-repeat;
    background-size: cover;
}

.frontpage::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.10);
}


/*Frontpage Navbar  */

#logo1 {
    display: flex;
    position: absolute;
    height: 50px;
    left: 1.25rem;
    padding-top: 0px;
    margin-bottom: 10px;
}

.navbar {
    padding-top: 14.5px;
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #943a3a;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 12px;
}

.navbar #navbarmain li div {
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
}

.navbar #navbarmain li a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding-left: 19px;
    padding-right: 19px;
    font-weight: 600;
}

/* .navbar #navbarmain li a:hover {
    color: whitesmoke;
    /* font-size: 17px; */
    /* background-color: #712d2d; */
    /* border-radius: 8px; */
    /* border: 1px solid whitesmoke; */
/* } */ 

.navbar #navbarmain li div:hover {
    background-color: #712d2d;
    border: 1px solid whitesmoke;
}

.social {
    display: inline-block;
    position: absolute;
    right: 1.25rem;
}

.social img {
    margin-right: 8px;
    margin-left: 4px;
}

.social li {
    height: 30px;
}

.social #fb,
#ig {
    height: 22px;
    opacity: 0.75;
    margin-top: 3px;
}

.social #lnkd {
    height: 24px;
    opacity: 0.75;
    margin-top: 3px;
}

.social #git {
    height: 35px;
    padding-bottom: 5px;
    opacity: 0.75;
}

a img:hover {
    cursor: pointer;
    filter: invert();
}


/* Frontpage Content */

.content {
    display: flex;
    flex-direction: column;
    height: 715px;
    font-size: 40px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 495px;
    font-weight: bolder;
    color: #943a3a;
    align-items: center;
    justify-content: center;
}

#contentsum1 {
    color: #943a3a;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 12px;
    font-weight: bolder;
}


/* Kitchen */

.kitchen #intro {
    text-align: center;
    font-size: 50px;
    margin: 18px;
}

.kitchen #sum1,
#sum2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #8d0003;
    margin: 18px;
}

.kitchen #sum2 {
    font-size: 15px;
    padding-bottom: 12px;
}

.foodbox {
    display: flex;
    margin: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foodcolumn .fooddesc {
    color: #8d0003;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foodcolumn div:hover {
    background-color: rgba(240, 240, 240, 0.945);
    /* border: 2px solid red; */
    border-radius: 34px;
}

.foodbox div {
    flex-wrap: wrap;
}

.foodbox img {
    width: 95%;
    padding: 30px;
    border-radius: 53px;
}

.foodbox .foodcolumn {
    box-sizing: border-box;
    margin-left: 24px;
    justify-content: center;
    align-items: center;
}


/* Rooms */

.rooms #rintro {
    text-align: center;
    font-size: 50px;
    margin: 18px;
}

.rooms #rsum1,
#rsum2 {
    text-align: center;
    font-size: 18px;
    margin: 18px;
    color: #8d0003;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rooms #rsum2 {
    font-size: 15px;
    padding-bottom: 12px;
}


/* Room Details   */

.roomspic {
    /* border: 2px solid red; */
    display: flex;
}

.roomspic img {
    width: 47%;
    padding: 30px;
}

.rdesc {
    flex-direction: column;
    padding-top: 100px;
    padding-left: 32px;
    padding-right: 22px;
    font-size: 15px;
}

#r1,
#r3 {
    flex-direction: row;
}

#r2,
#r4 {
    flex-direction: row-reverse;
}


/* ABout Us */

.aboutpic {
    position: relative;
}

.aboutpic::before {
    content: "";
    background: rgb(233, 233, 233);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.about #aintro {
    text-align: center;
    font-size: 50px;
    margin: 18px;
}

.about #asum1,
#asum2 {
    text-align: center;
    font-size: 18px;
    color: #8d0003;
    margin: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about #asum2 {
    font-size: 15px;
    padding-bottom: 12px;
}

.aboutpic {
    /* border: 2px solid red; */
    display: flex;
}

.aboutpic img {
    width: 47%;
    padding: 30px;
}

.adesc {
    flex-direction: column;
    padding: 20px;
    padding-top: 96px;
    font-size: 18px;
}

.aboutpic .btn {
    display: flex;
    justify-content: left;
}


/* contact Us */

.contdata {
    position: relative;
}

.contdata::before {
    content: "";
    background: url(../socials/contact.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

.contact #cintro {
    text-align: center;
    font-size: 55px;
    margin: 18px;
}

.contact #csum1,
#csum2 {
    text-align: center;
    font-size: 18px;
    margin: 18px;
    color: #8d0003;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact #csum2 {
    font-size: 15px;
    padding-bottom: 12px;
}

.contdata {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.contdata #form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 30px auto;
    background-color: rgba(128, 128, 128, 0.564);
    border-radius: 10px;
    padding: 20px;
    font-weight: 600;
    color: #8f1114;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form input {
    margin: 4px;
    padding: 4px;
}

.cdesc {
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 200px;
    padding-right: 200px;
}

.contdata .btn {
    display: flex;
    justify-content: center;
}

.contdata form div {
    padding: 4.5px;
}

.info-boxes input{
    background-color: rgba(235, 231, 231, 0.63);
    border: 1px solid white;
    color: black;
    border-radius: 7px;
    font-weight: 500;
}

#form textarea{
    margin-top: 6px;
    background-color: rgba(235, 231, 231, 0.63);
    border: 1px solid white;
}

#fissue {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnSubmit {
    padding: 10px 30px;
}

/* Footer  */

footer {
    font-size: 12px;
    font-weight: 600;
    background-color: #943a3a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding-top: 7px;
}